.bg-green-1 {
  background-color: #eafaf1;
}

.bg-green-2 {
  background-color: #d5f5e3;
}

.bg-green-3 {
  background-color: #abebc6;
}

.bg-red-1 {
  background-color: #fbeee6;
}

.bg-red-2 {
  background-color: #f6ddcc;
}

.bg-red-3 {
  background-color: #edbb99;
}
