.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: start;
}

.flex-between {
  justify-content: space-between;
}

.flex-middle {
  align-items: center;
}

.ai-start {
  align-items: start;
}

.flex-coloum {
  flex-direction: column;
}

.gap-5 {
  gap: 5px;
}

.gap-30 {
  gap: 30px;
}
