.p-5 {
  padding: 5px;
}

.p-20 {
  padding: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.m-0 {
  margin: 0;
}

.ml-10 {
  margin-left: 10px;
}

.mr-8 {
  margin-right: 8px;
}

.mt-20 {
  margin-top: 20px;
}
